@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/Coolvetica Rg.otf') format('truetype');
}

@font-face {
  font-family: 'Tilson';
  src: url('../fonts/Artford-Regular.otf') format('truetype');
}

h1.text-xl {
    font-family: 'Coolvetica', sans-serif !important;
    font-size: 30px !important;
    letter-spacing: 2px !important;
}

.bg-blue-600{
    background-color: #5EB6F5 !important;
}

.text-blue-600 {
    color: #5EB6F5 !important;
}

.bg-blue-200 {
    background-color: #ABDAFC !important;
}

button.bg-blue-600, a.bg-blue-600, button.bg-blue-50, a.bg-blue-50 {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: none;
}

a.bg-blue-600:hover, button.bg-blue-600:hover {
    background-color: #ABDAFC !important;
}

.text-gray-400 {
    color: #464655 !important;
    font-family: 'Tilson', sans-serif !important;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.link1:hover {
    color: #ABDAFC !important;
}

.nav-link:hover {
    color: #E5FCFF;
}