{% extends "base.html" %}
{% block content %}
<div class="text-center mt-10">
  <h2 class="text-3xl font-bold text-blue-600 mb-4">Workout Completed!</h2>
  <p class="text-gray-600 mb-6">Nice job today! You've logged this workout as completed.</p>
    <button class="bg-blue-600 text-white px-6 py-3 transition" onclick="launchConfetti()"> Celebrate! </button>
    <br> <br>
  <a href="{% url 'aiworkout' %}" class="text-blue-600 hover:underline">Back to AI Workout</a>
</div>


    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1/dist/confetti.browser.min.js"></script>

<script>
  // Trigger confetti once the entire page has loaded
  window.addEventListener('load', launchConfetti)

  function launchConfetti() {
    // Basic usage: fires confetti once at a random angle
    confetti({
      spread: 100,  // how wide the confetti spread
      particleCount: 100,
      origin: { y: 0.6 } // where the confetti starts (0 = top, 1 = bottom)
    });
  }

</script>

{% endblock %}
