{% extends 'base.html' %}
{% block title %}About - FitJacket{% endblock %}

{% block content %}
{% load static %}
<div class="flex space-x-4">
 <div class="w-1/2 p-4 rounded">
        <h2 class="text-2xl font-bold mb-4">About FitJacket</h2>
        <br>
        <p>
           FitJacket is a social fitness platform designed to help users stay motivated,
            track progress, and connect with others through smart, AI-driven workout plans.
            Whether you're just starting out or looking to reach new goals,
            FitJacket provides tools and community support every step of the way.
        </p>
    </div>
       <div class="w-1/2 p-4 rounded">
        <img src="{% static 'img/dogyoga.jpg' %}"
             class="about-img"
             alt="about"
            style="border-radius: 20px;"/>
      </div>
    </div>
{% endblock content %}