{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FitJacket{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="bg-white-50 text-gray-400 min-h-screen flex flex-col">

  <header class="relative bg-blue-600 p-6 text-white flex justify-between items-center">
      <a href="{% url 'index' %}"><h1 class="text-xl font-bold">FitJacket</h1></a>

  <button id="menu-btn" class="block md:hidden focus:outline-none">
      <!-- simple hamburger icon -->
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

      <nav id="menu" class="absolute top-full right-0 mt-2
           w-48 rounded-md bg-blue-600 shadow-lg z-50
           flex flex-col space-y-2 p-4
           md:static md:mt-0 md:shadow-none md:flex-row md:flex md:bg-transparent md:w-auto md:p-0 md:space-y-0 md:space-x-6">
    <a href="{% url 'index' %}" class="nav-link">Home</a>
    <a href="{% url 'about' %}" class="nav-link">About</a>
    <a href="{% url 'exercise-list' %}" class="nav-link">Exercises</a>
    {% if user.is_authenticated %}
        <a href="{% url 'aiworkout' %}" class="nav-link">AI Workout</a>
        <a href="{% url 'friends' %}" class="nav-link">Friends</a>
    {% endif %}

  <!-- Divider and Auth links -->
    <!-- Vertical line aligned with text -->
    <div class="hidden md:block h-5 w-px bg-white opacity-70"></div>

      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="nav-link">Logout</a>
    {% else %}
      <a href="{% url 'login' %}" class="nav-link">Login</a>
      <a href="{% url 'register' %}" class="nav-link">Register</a>
    {% endif %}
    </nav>
  </header>

    <script>
    const btn  = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');
    btn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  </script>

  <main class="p-8 flex-grow">
  <div class="max-w-7xl text-gray-400 mx-auto px-4 sm:px-6 lg:px-8 py-6">
    {% block content %}{% endblock %}
  </div>
  </main>

  <footer class="bg-gray-100 p-4 text-center text-sm text-gray-600">
    &copy; 2025 FitJacket. All rights reserved.
  </footer>
</body>
</html>